@charset "UTF-8";
h1 {
  font-size: 48px; }

h5 {
  font-size: 18px; }

* {
  font-family: 微軟正黑體;
  position: relative; }

header {
  background: url(../img/header_1024.png);
  height: 270px;
  padding-top: 75px; }
  header h1 {
    text-align: center;
    color: #fff;
    padding-bottom: 25px; }
  header .search #search-box {
    padding-left: 40px;
    background: #fff url(../img/icon/search_gray.svg) no-repeat 5px 5px; }
  header .search .search-btn {
    background: #fff;
    color: #B1B1B1;
    padding: 0 22px; }

.content {
  background: #F2F2F2;
  padding: 22px; }

.side {
  background: #fff;
  padding: 17px 22px;
  color: #4a4a4a; }
  .side h5 {
    display: inline-block; }
  .side .float-right {
    float: right; }
  .side .checkbox-item {
    font-size: 14px; }
  .side a {
    font-size: 12px;
    color: #b7b7b7; }

.result .condition {
  background: #fff;
  padding: 17px;
  margin-bottom: 30px; }
  .result .condition h5 {
    display: inline-block; }
  .result .condition .tag-group {
    display: inline-block;
    width: 75%;
    padding: 0 10px; }
    .result .condition .tag-group .badge {
      height: 20px !important;
      vertical-align: middle;
      background: #DA897A;
      color: #fff;
      padding: 5px 15px; }
  .result .condition .clear-tags {
    color: #4d4d4d;
    font-size: 14px;
    float: right; }

.result .result-show h4 {
  margin-bottom: 35px; }

.result .result-show .record {
  color: #DA897A; }

.result .result-show .card {
  width: 45%;
  display: inline-block;
  margin-bottom: 40px; }
  .result .result-show .card:nth-child(even) {
    float: right; }
  .result .result-show .card .card-body {
    padding: 8px 12px; }
    .result .result-show .card .card-body .card-title {
      font-size: 18px;
      color: #89AEAD;
      display: inline-block; }
    .result .result-show .card .card-body .dist {
      float: right;
      font-size: 12px;
      color: #4a4a4a;
      vertical-align: bottom; }
    .result .result-show .card .card-body .card-text .detail i {
      font-size: 10px;
      color: #DA897A;
      margin-right: 10px; }
    .result .result-show .card .card-body .card-text .detail p {
      display: inline-block;
      font-size: 12px;
      color: #B0A79F;
      margin-bottom: 0px; }
    .result .result-show .card .card-body .card-text button {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 16px;
      color: #fff;
      background: #C3DDD8; }

.page-link {
  color: #B0A79F; }

.modal .modal-header {
  background: url(../img/site.png) no-repeat;
  background-size: cover;
  height: 407px; }
  .modal .modal-header .modal-title {
    font-size: 36px;
    color: #fff; }
  .modal .modal-header .close {
    color: #fff; }

.modal .modal-body {
  padding: 30px 25px; }
  .modal .modal-body .information {
    display: inline-block;
    width: 50%; }
  .modal .modal-body .googlemap {
    display: inline-block;
    width: 48%;
    float: right; }
