body {
  background-color: #E1E4EC !important;
  font-family: monospace serif; }

.header {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF9A9E), to(#FAD0C4));
  background: -webkit-linear-gradient(bottom, #FF9A9E 0%, #FAD0C4 100%);
  background: -o-linear-gradient(bottom, #FF9A9E 0%, #FAD0C4 100%);
  background: linear-gradient(0deg, #FF9A9E 0%, #FAD0C4 100%);
  height: 105px;
  color: #fff; }
  .header .logo {
    padding: 30px; }
    .header .logo h1 {
      font-size: 24px;
      padding-left: 40px; }
  .header .remaining {
    padding: 20px 0 0 40px; }
    .header .remaining span {
      font-size: 50px; }
  .header .add {
    position: absolute;
    right: 90px;
    top: 72px;
    z-index: 99;
    text-align: center;
    background: #F5817D;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    padding: 7px; }
    .header .add i {
      display: block; }
    .header .add:hover {
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
      -webkit-transition: -webkit-box-shadow .5s;
      transition: -webkit-box-shadow .5s;
      -o-transition: box-shadow .5s;
      transition: box-shadow .5s;
      transition: box-shadow .5s, -webkit-box-shadow .5s; }

ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
  text-align: center; }
  ul.col-2 {
    padding: 0; }
  ul .tab {
    height: 105px;
    padding: 25px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff; }
    ul .tab.active, ul .tab:hover {
      background: #F5817D;
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    ul .tab .icon {
      height: 28px;
      width: 28px;
      margin: auto; }
    ul .tab:first-child .icon {
      background: url("../img/list_black.svg");
      background-size: 28px 28px;
      margin-bottom: 8px; }
    ul .tab:first-child.active .icon, ul .tab:first-child:hover .icon {
      background: url("../img/list_white.svg");
      background-size: 28px 28px; }
    ul .tab:nth-child(2) .icon {
      background: url("../img/checked_black.svg");
      background-size: 28px 28px;
      margin-bottom: 8px; }
    ul .tab:nth-child(2).active .icon, ul .tab:nth-child(2):hover .icon {
      background: url("../img/checked_white.svg");
      background-size: 28px 28px; }
    ul .tab:nth-child(3) .icon {
      background: url("../img/unchecked_black.svg");
      background-size: 28px 28px;
      margin-bottom: 8px; }
    ul .tab:nth-child(3).active .icon, ul .tab:nth-child(3):hover .icon {
      background: url("../img/unchecked_white.svg");
      background-size: 28px 28px; }

.border-important {
  border-left: 5px solid #F5817D; }

.completed-line {
  color: #898989;
  text-decoration: line-through; }

input[type=checkbox] {
  width: 19px;
  height: 19px;
  background: #fff;
  display: inline-block;
  margin-top: 5px;
  text-align: center; }

.content {
  background: #F1F1F1;
  padding: 35px 35px !important;
  min-height: 500px !important; }
  .content .task-card {
    height: 75px;
    width: 95%;
    background: #fff;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px; }
    .content .task-card:hover {
      -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .content .task-card .detail .card-title {
      display: block;
      font-size: 20px;
      margin-bottom: 0; }
    .content .task-card .detail .icon {
      display: inline-block;
      min-width: 40px;
      margin-right: 10px; }
    .content .task-card .detail i {
      font-size: 15px;
      color: #B0B0B0; }
    .content .task-card .star, .content .task-card .edit {
      font-size: 19px;
      padding-top: 18px; }
    .content .task-card .star.active, .content .task-card .star:hover {
      color: #ffd230; }
    .content .task-card .edit:hover {
      color: #F5817D; }

.modal-header.row {
  margin-left: 0;
  margin-right: 0; }

.modal-header input[type=checkbox] {
  margin-top: 8px; }

.modal-header i {
  margin-top: 13px; }

.modal-header .edit {
  color: #F5817D; }

.modal-header .star.active, .modal-header .star:hover {
  color: #ffd230; }

.modal-body .date input {
  display: inline-block;
  margin-left: 18px;
  width: 200px; }

.modal-body .file input {
  margin-left: 18px; }

.modal-body .comment textarea {
  margin-left: 18px;
  width: 90%; }

.modal-footer {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }
  .modal-footer button {
    width: 45%;
    background: #EEEEEE; }
    .modal-footer button:hover {
      background: #F5817D;
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
